.home {
    width: 100%;
}

.userPostes {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 45px;
    margin-left: calc(23px - 10px);
}



.wrp {
    display: flex;
    justify-content: flex-end;
    margin-bottom: 304.6px;
}